@charset "utf-8";

.data-gen-problock{}
.data-gen-problock .pro-list-select{ padding-left: 0px;}
.data-gen-problock .pro-list-select li{ list-style-type: none;}
.data-gen-problock .pro-list-select li .thumb-img img{ width: 60%;
    border:1px solid #ddd; }
.data-gen-problock h3{ font-size: 1em; font-weight: bold;}
.data-gen-problock h3 span{ font-weight: normal;}
.data-gen-problock .pro-list-select li{}
.data-gen-problock .pro-list-select .select-part{ position:absolute; left:5px; top:5px; width: 40px;}
.data-gen-problock .pro-list-select .select-part input{ width: 40px; height: 40px;}
.data-gen-problock .pro-list-select .title h3{ height: 1em;  overflow: hidden; margin: 5px 0px;}

.data-gen-problock .pro-list-part{box-shadow: 3px 3px 3px rgba(0,0,0,0.2); border: 1px solid #ddd; background-color: #fff; position: absolute; z-index: 999; display: none; width: 100%;}

.data-gen-problock .pro-list-container{ overflow-x: hidden; overflow-y: scroll; height: 600px;}
.data-gen-problock .pro-list-toolbar{ background-color: #eee; padding: 5px;}
.data-gen-problock .pro-list-toolbar .btn{
    padding:0px 5px; font-size:0.8em;}
.data-gen-problock .pro-list-toolbar .btn.active{ padding: 0px 5px;}


.data-gen-problock .pro-list-selected{ padding-left: 0px; }
.data-gen-problock .pro-list-selected li{ list-style-type: none;clear: both; position: relative; padding:10px 10px;}
.data-gen-problock .pro-list-selected li:after{ content: ""; clear: both;}
.data-gen-problock .pro-list-selected li:hover{ background-color: #eeffee;}
.data-gen-problock .pro-list-selected li .thumb-img{
    float: left; width: 20%; margin: 0px 10px 0px 0px;}
.data-gen-problock .pro-list-selected li h3{ margin: 0px 0px 10px 0px;}
.data-gen-problock .pro-list-selected li .thumb-img img{ width: 100%;
    border:1px solid #ddd; }
.data-gen-problock .pro-list-selected .btn-part{ position: absolute; right:10px; bottom:10px;}
.data-gen-problock  .pro-list-selected-container{ border: 1px solid #ddd; height: 400px; overflow-x: hidden; overflow-y: scroll; padding-left: 0px;  }
