@charset "utf-8";

.item-list-selector{
    position: relative;}
.item-list-selector .description {
    padding: 10px;
    color: #999;
}
.item-list-selector .item-list-view{ padding-left: 0px;}
.item-list-selector .item-list-view li{ list-style-type: none;
    padding:0px 5px;
    width:10rem;
    float: left;
    display: inline-block;
}
.item-list-selector .item-list-view li .img { padding: 5px;}
.item-list-selector .item-list-view li .img A{ cursor: pointer;}
.item-list-selector .item-list-view li .img img{ width: 100%;
    border:1px solid #ddd; }
.item-list-selector .item-list-view li input{ width: 100%;border: 1px dotted #ccc; background-color: transparent;}
.item-list-selector .item-list-view li input:focus{border: 1px solid #CC6633; background-color: #fff;}
.item-list-selector h3{ font-size: 1em; font-weight: bold;}
.item-list-selector h3 span{ font-weight: normal;}

.item-list-selector .item-list-view li.selected{
    border:1px solid #acca63; background-color: #f5fce3;}
.item-list-selector .item-list-view li .title{ padding: 0px; text-align: center;}
.item-list-selector .item-list-view .title h3{ height: 1em;  overflow: hidden; margin: 5px 0px;}

.item-list-selector .item-list-part{ box-shadow:0px 0px 8px rgba(0,0,0,0.2); border: 2px solid #C00; background-color: #fff;display: none;
    margin:0px;
    padding:0px;
    width:100%;
}

.item-list-selector .item-list-part .item-list-buttonbar{
    padding:10px 0px; text-align:center;border-top: 1px solid #ddd;}

.item-list-selector .item-list-container{ overflow-x: hidden; overflow-y: scroll; height:600px;}
.item-list-selector .item-list-toolbar{ background-color: #eee; padding: 5px; border-bottom: 1px solid #ddd;}
.item-list-selector .item-list-toolbar .btn{
    padding:0px 5px; font-size:0.8em;}
.item-list-selector .item-list-toolbar .btn.active{ padding: 0px 5px;}


.item-list-selector .item-list-selected{ padding-left: 2em; }
.item-list-selector .item-list-selected li{ position: relative; background-color: #fff; padding: 7.5px; border: 1px solid #ddd; margin: 5px 0px; background-color: #fff; }
.item-list-selector .item-list-selected li.active{  background-color:#ffdb7a;}
.item-list-selector .item-list-selected li:after{ content: ""; clear: both;}

.item-list-selector .item-list-selected li .img{
    float: right; width: 15%; margin: 0px 10px 10px 20px; display: inline-block;  }
.item-list-selector .item-list-selected li .img img{ width: 100%;
    border:1px solid #ddd; }
.item-list-selector .item-list-selected li input{ width: 50%; border: 1px dotted #ccc; background-color: transparent;}
.item-list-selector .item-list-selected li input:focus{ border: 1px solid #CC6633; background-color: #fff;}
.item-list-selector .item-list-selected .btn-part{ padding-top: 6px; width: 50%; position: absolute; bottom:5px; right:5px; text-align: right;}
.item-list-selector .item-list-selected .btn-part .btn{ float: right;}
.item-list-selector  .item-list-selected-container{  height: 600px; overflow-x: hidden; overflow-y: scroll; padding-left: 0px;  }

.item-list-selector .item-list-navi{ padding: 3px 10px; background-color: #f4f4f4; border-bottom: 1px solid #ccc; height:40px; }
.item-list-selector .item-list-navi .cat-select-part{ display: inline-block; width: 45%; float: left; vertical-align: middle;text-align: right;}
.item-list-selector .item-list-navi .cat-select-part>b{ display: inline-block;
    float: left;line-height: 34px; vertical-align: middle;}
.item-list-selector .item-list-navi .cat-select-part>span{ line-height: 34px; text-align: right;}
.item-list-selector .item-list-navi .cat-select-part .tree-selector{ width:60%; display: inline-block; float: right; margin-left: 10px;}
.item-list-selector .item-list-navi .search-part{ display: inline-block; width: 45%;float:right; vertical-align: middle}
.item-list-selector .item-list-navi .search-part input{ width: 60%; vertical-align: middle; height: 32px; display: inline-block;}
.item-list-selector .item-list-navi .search-part>span{ line-height: 34px;}