.img-area-selector .selected{ border:1px solid #ffffff}
.img-area-selector .area-selection .no{ background-color: #000; color: #fff; border-radius: 1vh; display: inline-block; padding: 0 0.4rem; font-size: 0.4rem;font-weight: normal}
