@charset "utf-8";
/* CSS Document */

.navbar{ background:url(../images/topbar_bg.png) top left no-repeat #092c68;}

.navbar-inverse .navbar-brand { color:#4bffdb}


.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus { background-color:#777;}

.nav A{ color:#333;}

.toolbar-title-r{ display:inline-block; float:right;}


/* pager */
.pager-bar {
    margin: 0px;
    text-align: center;
}

.pager-bar .pager {
    margin: 0px;
}

.pager-bar .pager li {
    margin: 0px 3px;
}

.pager-bar .pager li>A {
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    padding: 2.5px 10px;
}

.pager-bar .pager li.active > A {
    background: #900;
    color: #fff;
}

.pager-bar .pager .go-page-no {
    width: 40px;
}